/* [data-uvp="scope"],
[data-uvp="scope"] * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
} */

[data-uvp="scope"] {
  --color-bg-body: #fafafa;
}

[data-uvp="scope"] [data-uvp="panel-card"] {
  :is(h2, h3, h4, p, ul, ol):where(:not(:last-child)) {
    margin-bottom: 1rem;
  }

  li:where(:not(:last-child)) {
    margin-bottom: .5rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  iframe[src*="youtube.com/embed"] {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}

[data-uvp="scope"] {
  [data-uvp="sr-only"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  [data-uvp="panel-card"] {
    border-radius: 8px;
    overflow: hidden;
  }

  [data-uvp="panel-card-banner"] {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: clamp(150px, 30vw, 220px);
    overflow: hidden;
  }

  [data-uvp="panel-card-banner"] img {
    width: 100%;
    object-fit: cover;
  }

  [data-uvp="panel-card-text"] {
    padding: 1.5rem 1.25rem;
    background-color: #f0f0f0;
  }

  [data-uvp="panel-card-text"] h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
  }

  [data-uvp="panel-card-links-list"] {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  [data-uvp="panel-card-links-list"] li {
    border-top: 3px solid var(--color-bg-body);
    margin: 0;
  }

  [data-uvp="panel-card-links-list"] a {
    display: block;
    background-color: #f0f0f0;
    padding: 16px 20px;
    text-decoration: none;
    color: inherit;
  }

  [data-uvp="panel-card-links-list"] a:hover,
  [data-uvp="panel-card-links-list"] a:focus-visible {
    background-color: #e2e2e2;
    color: inherit;
  }

  [data-uvp="panel-card-links-list"] a:focus {
    outline: none;
    box-shadow: none;
  }
}